@use "src/style/globals";

.menu {
	color: globals.$menuColor;
	width: globals.$drawerWith;
	background: globals.$menuBgColor;

	/* TODO: Ugly hack, get rid of it */
	& > div {
		border: none;
	}
}

.toolbar {
	background: globals.$menuBgColor;
	justify-content: space-between;
}

.list {
	height: 100%;
}
